@import '../../style/variables.scss';

.single-comic {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 293px 550px auto;
	column-gap: 50px;
	align-items: start;
	// .single-comic__img

	&__img {
		width: 293px;
		height: 450px;
	}

	// .single-comic__info

	&__info {}

	// .single-comic__name

	&__name {
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
	}

	// .single-comic__descr

	&__descr {
		margin-top: 28px;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	// .single-comic__price

	&__price {
		margin-top: 28px;
		color: $main-color;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}

	// .single-comic__back

	&__back {
		justify-self: end ;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;

		&:hover {
			color: $main-color;
		}
	}

}